# Base de datos PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/gestor_cuentas

# NextAuth.js / Auth.js
NEXTAUTH_SECRET=your_super_secret_key_here
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true
